*{
    font-family: 'Lato', sans-serif;
}

#dashboard-container{
    display: flex;
    height: 621px;
    width: 1053px;
    border-radius: 22px;
    padding: 33px;
    margin: auto;
    box-shadow: 0 6.95652px 20.8696px rgb(0 0 0 / 22%);
    background-color: #eff0f22b;
    margin-top: 52px;
}

#doc-app-container{
    margin-right: 48px;
}

#doc-app-container p{
    color: #0075ff;
    font-weight: bold;
    margin-bottom: 30px;
    width: 95px;
}

.icon-container{
    margin-bottom: 38%;
}

.dr-img{
    width: 62px;
    height: auto;
    border-radius: 33%;
    margin-left: 7px;
    margin-top: 40px;
}

#log-out span{
    margin-left: 14px;
}

.icons{
    width: 28px;
    height: 30px;
    border-radius: 10px;
    color: #0075ff;
    padding-left: 10px;
    padding-top: 8px;
    background-color: #e9f1ffad;
}

.icons i{
    font-size: 12px;
    margin-left: 3.5px;
}

.icon-container p{
    font-size: 11px;
}

.image-container{
    margin-left: -9px;
}

.image-container p{
    font-size: 11px;
}

.timeline-info{
    display: flex;
    align-items: center;
    border: 2px solid #d6d3d3;
    width: 175px;
    padding: 4px;
    height: 24px;
    justify-content: space-between;
    margin-bottom: 7px;
    border-radius: 8px;
    color: #b3b1b1; 
}

.timeline-info i{
    margin-left: 8px;
}

.timeline-info p{
    font-size: 11px;
}

hr{
    width: 55px;
    margin-left: 57px;
    margin-top: 14px;
    margin-bottom: 14px;
}

#end-timeline{
    margin-left: -15px;
}

.end-shift{
    margin-left: 11px;
    width: 182px;
    height: 37px;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 11px;
    color: #fff;
    background-color: #0075ff;
    box-shadow: 0 6.95652px 20.8696px rgb(45 100 191 / 45%);
}

.end-shift p{
    margin-top: 7px;
    padding-top: 9px;
}

.set-reminder{
    background-color: #fff;
    margin-left: 11px;
    width: 182px;
    height: 37px;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 11px;
}

.set-reminder p{
    margin-top: 7px;
    padding-top: 9px;
}

#your-dashboard-container h2{
    width: 20px;
    font-size: 30px;
    margin-top: 13px;
    margin-left: -10px;
}

#appointment-container{
    margin-top: 15px;
    margin-left: 36px;
}

#appointment-container>:first-child{
    display: flex;   
}

#may{
    width: 168px;
    height: 164px;
    border-radius: 11px;
    padding: 15px;
    box-shadow: 0 6.95652px 20.8696px rgb(0 0 0 / 20%);
    background-color: #fff;
}


#may>:nth-child(2){
    display: flex;
    flex-wrap: wrap;
}

#may>:nth-child(2)>div{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 2px solid #d6d3d3;
    margin-right: 2px;
    margin-bottom: 2px;
}
#may>:nth-child(2)>p{
    width: 15px;
    height: 16px;
    border: 2px solid #0075ff;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#may > p{
    margin-left: 15px;
    font-weight: bold;
    font-size: 21px;
    margin-top: 0px;
}

#hello-anne{
    background-color: #fff;
    display: flex;
    width: 458px;
    height: 195px;
    margin-left: 25px;
    border-radius: 14px;
    box-shadow: 0 6.95652px 20.8696px rgb(0 0 0 / 20%);    
}

#outside-container{
    box-shadow: 0 6.95652px 20.8696px rgb(0 0 0 / 20%);
    margin-top: 12px;
    height: 429px;
    width: 684px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
    
}

#hello-anne>:nth-child(2)>img{
    height: 192px;
    margin-right: 9px;
}

#hello-anne>:first-child{
    padding: 12px;
    margin-top: -12px;
}

#complete-report{
    text-align: center;
    height: 25px;
    padding-top: 4px;
    border-radius: 6px;
    background-color: #0075ff;
    color: #fff;
    box-shadow: 0 6.95652px 20.8696px rgb(45 100 191 / 45%);
}

#todays-appointment-container{
    
    border-radius: 8px;
    width: 736px;
    margin-left: 24px;
}


#todays-appointment-container>:nth-child(2){
    display: flex;
    margin-left: 53px;
    column-gap: 32px;
}


#todays-appointment-container>:nth-child(2)>div{
    border-radius: 6px;
    margin-right: 16px;
    text-align: center;
    padding: 3px;
    height: 110px;
    box-shadow: 0 2px 2px #ccc;
}

#monthly-reports-container{
    width: 680px;
    border-radius: 8px;
    margin-top: 32px;
    margin-left: 24px;
}


#monthly-reports-container>:nth-child(2){
    column-gap: 35px;
    width: 702px;
}

#monthly-reports-container>:nth-child(2)>div{
    width: 249px;
    height: 41px;
    padding: 12px;
    border-radius: 6px;
    box-shadow:  0 6.95652px 20.8696px rgb(0 0 0 / 22%);;
}